*.pyc
*.pyo
*.html
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.log
.*.cfg
.coverage
.plone.versioncheck.tracked.json
bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
htmlcov/
include/
lib/
parts/
dist/
var/
pip-selfcheck.json
pyvenv.cfg
src/*
!src/plonemeeting
